<template>
  <v-dialog v-model="dialog" width="800px">
    <template v-slot:activator="{ on }">
      <v-btn small color="primary" v-on="on" tile depressed>
        <!--<v-icon left x-small>mdi-pencil</v-icon>-->
        Edit Option
      </v-btn>
    </template>
    <v-card>
      <form @submit.prevent="submit">
        <v-card-title class="teal lighten-1">
          Edit Option
          <v-spacer></v-spacer>
          <div class="pointer" @click="dialog = false">
            <v-icon left>mdi-close</v-icon>
          </div>
        </v-card-title>
        <v-container>
          <v-row class="mx-2" dense>
            <!-- step 1 -->
            <v-col cols="12" sm="6" md="6">
              <v-text-field
                clear-icon="mdi-close"
                clearable
                outlined
                dense
                label="Option Name*"
                hint="enter option name"
                required
                v-model="name"
                disabled
                :error-messages="nameErrors"
                @input="$v.name.$touch()"
                @blur="$v.name.$touch()"
              ></v-text-field>
            </v-col>

            <v-col cols="12" sm="6" md="6">
              <v-text-field
                clear-icon="mdi-close"
                clearable
                outlined
                dense
                label="Option value*"
                hint="enter option value"
                required
                v-model="value"
                :error-messages="valueErrors"
                @input="$v.value.$touch()"
                @blur="$v.value.$touch()"
              ></v-text-field>
            </v-col>

          </v-row>
        </v-container>
        <v-card-actions>
          <v-btn class="mr-4" text :loading="localLoading" @click="clear">
            <v-icon left>mdi-rotate-left</v-icon>Сбросить
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn color="secondary" :loading="localLoading" @click="dialog = false">Отмена</v-btn>
          <v-btn color="success" :loading="localLoading" @click="submit()">Сохранить</v-btn>
        </v-card-actions>
      </form>
    </v-card>
  </v-dialog>
</template>

<script>
import { validationMixin } from "vuelidate";
import { mapActions } from "vuex";
import {
  required,
  maxLength
} from "vuelidate/lib/validators";
import * as _ from "lodash";

export default {
  name: "EditOption",
  mixins: [validationMixin],
  props: ["thisOptionData"],
  validations: {
    name: { required, maxLength: maxLength(255) },
    value: { required, maxLength: maxLength(255) },
  },
  data: () => ({
    dialog: false,
    localLoading: false,
    isSubmited: false,
    name: void 0,
    value: void 0,
    response_errors: [],
  }),
  mounted() {
    this.clear();
  },

  computed: {
    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) {
        return errors;
      }
      !this.$v.name.maxLength && errors.push('Name must be at most 255 characters long');
      !this.$v.name.required && errors.push("Name is required.");
      return errors;
    },
    valueErrors() {
      const errors = [];
      if (!this.$v.value.$dirty) {
        return errors;
      }
      !this.$v.value.maxLength && errors.push('Name must be at most 255 characters long');
      !this.$v.value.required && errors.push("Value is required.");
      return errors;
    },
  },

  methods: {
    ...mapActions("options", ["editOption"]),
    submit() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        const editedOption = {
          id: this.thisOptionData.id,
          name: this.name,
          value: this.value,
        };

        this.localLoading = true;
        this.editOption(editedOption)
          .then(() => {
            this.dialog = false;
            this.clear();
            this.$emit("updated", "");
          })
          .catch((error) => {
            this.response_errors = _.get(error, 'response.data.errors', []);
          })
          .finally(() => {
            this.localLoading = false;
          });
      }
    },
    clear() {
      this.$v.$reset();

      this.name = _.get(this.thisOptionData, 'name', '');
      this.value = _.get(this.thisOptionData, 'value', '');

      // --
      this.response_errors = [];
    },
  },
};
</script>

<style>
</style>
