<template>
  <v-dialog v-model="dialog" width="800px">
    <template v-slot:activator="{ on }">
      <span v-on="on">
        <slot></slot>
      </span>
    </template>
    <v-card>
      <form @submit.prevent="submit">
        <v-card-title class="teal lighten-1">
          Загрузка изображений
          <v-spacer></v-spacer>
          <div class="pointer" @click="dialog = false">
            <v-icon left>mdi-close</v-icon>
          </div>
        </v-card-title>
        <v-container>
          <v-row class="mx-2" dense>
            <v-col cols="12" sm="4" md="4" v-for="(file, index) in files" :key="file.id">
              <v-card class="mx-auto">
                <v-img v-if="file.file_img" :src="file.file_img" height="200px"></v-img>
                <v-icon v-if="!file.file_img" style="font-size:200px;" class="ml-5" color="blue-grey lighten-2">mdi-archive</v-icon>

                <v-card-subtitle>{{file.src_name}}</v-card-subtitle>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="error" text @click="onRemoveFile(index)">
                    <v-icon left>mdi-close</v-icon>Удалить
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-col>

            <v-col cols="12" sm="12" md="12">
              <input
                type="file"
                style="display: none"
                name="photo"
                ref="photo"
                id="photo"
                accept="zip,tar,application/x-gzip,application/x-tar,application/octet-stream,application/zip,application/x-zip,application/x-zip-compressed,image/*"
                @change="changeFile"
                multiple
              />
              <v-btn color="success" right @click="onAddFiles">
                <v-icon left>mdi-plus</v-icon>Выбрать Изображния/Архивы
              </v-btn>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-btn class="mr-4" text :loading="localLoading" @click="clear">
            <v-icon left>mdi-rotate-left</v-icon>Очистить
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn color="secondary" :loading="localLoading" @click="dialog = false">Отмена</v-btn>
          <v-btn color="success" :loading="localLoading" @click="submit()">Загрузка фото</v-btn>
        </v-card-actions>
      </form>
    </v-card>
  </v-dialog>
</template>

<script>
import { validationMixin } from "vuelidate";
import { mapActions } from "vuex";
import * as _ from "lodash";
import CompressImage from "@/utils/compress-image";

const file_supported_types = [
  "application/zip", "application/x-zip-compressed",
  "application/tar", "application/gzip", "application/tar+gzip",
  'application/x-gzip', 'application/x-tar'
];

const file_regex = /(.*?)\.(zip|tar|gz)$/;

const image_supported_types = [
  "image/png", "image/jpeg"
];

const image_regex = /(.*?)\.(jpg|jpeg|png)$/;

export default {
  name: "NewImage",
  mixins: [validationMixin],
  data: () => ({
    dialog: false,
    localLoading: false,
    isSubmited: false,
    new_files_uid_iterator: 0,
    files: [],
    response_errors: [],
  }),
  created() {
    this.clear();
  },

  methods: {
    ...mapActions("image", ["uloadImages"]),
    ...mapActions("app", ["setError"]),
    async submit() {
      if (this.files.length) {
        let formData = new FormData();

        for (let i = 0; i < this.files.length; i++) {
          let file = await this.url2File(this.files[i].file_src, this.files[i].src_name, this.files[i].file_type);
          formData.append(`files[${i}]`, file);
          // formData.append(`file_name[${i}]`, this.files[i].src_name);
          // formData.append(`file_src[${i}]`, this.files[i].file_src);
        }

        this.localLoading = true;
        this.uloadImages(formData)
          .then(() => {
            this.dialog = false;
            this.clear();
            this.$emit("updated", "");
          })
          .catch((error) => {
            this.response_errors = _.get(error, 'response.data.errors', []);
          })
          .finally(() => {
            this.localLoading = false;
          });
      }
    },
    onAddFiles() {
      this.$refs.photo.click();
    },
    onRemoveFile(index) {
      this.files.splice(index, 1);
    },
    changeFile() {
      if (
        this.$refs.photo.files.length == 0 ||
        typeof FileReader == "undefined"
      ) {
        return;
      }

      _.each(this.$refs.photo.files, (file) => {
        this.processFilePreview(file, (file_name, file_src) => {
          if (
            image_supported_types.indexOf(file.type) !== -1 ||
            image_regex.test(file.name.toLowerCase())
          ) {
            // image add preview
            this.files.push({
              id: this.new_files_uid_iterator--,
              src_name: file_name,
              file_img: file_src,
              file_src: file_src,
              file_type: 'image/jpeg',
            });
          } else {
            // archive
            this.files.push({
              id: this.new_files_uid_iterator--,
              src_name: file_name,
              file_img: void 0,
              file_src: file_src,
              file_type: file.type,
            });
          }
        });
      });
    },
    processFilePreview(file, cb) {
      if (!file || typeof FileReader == "undefined") {
        return;
      }

      if (
        !(
          file_regex.test(file.name.toLowerCase()) ||
          image_regex.test(file.name.toLowerCase())
        ) ||
        (
          file_supported_types.indexOf(file.type) == -1 &&
          image_supported_types.indexOf(file.type) == -1
        )
      ) {
        this.setError({
          text: "Unsupported file type",
          type: "error",
          code: 402,
        });
        return;
      }

      let reader = new FileReader();
      reader.onload = function (e) {
        if (
            image_supported_types.indexOf(file.type) !== -1 ||
            image_regex.test(file.name.toLowerCase())
        ) {
          let img = new Image();
          img.src = e.target.result;
          img.onload = function () {
            img = CompressImage.compressImage(img, 90, 1920);//
            cb(file.name.toLowerCase(), img.src);
          }
        } else {
          cb(file.name.toLowerCase(), e.target.result);
        }
      };

      reader.readAsDataURL(file);
    },
    clear() {
      this.files = [];

      this.response_errors = [];
    },
    // -- 
    url2File(url, filename, mimeType){
      return (fetch(url)
        .then(function(res){return res.arrayBuffer();})
        .then(function(buf){return new File([buf], filename,{type:mimeType});})
      );
    },
  },
};
</script>

<style>
</style>
