<template>
  <v-main>
    <v-container fluid>
      <v-card
        class="mx-auto"
        max-width="1200"
        outlined
        :loading="localLoading"
      >
        <v-card-text class="page_card_container">
          <v-row no-gutters>
            <v-col cols="12" sm="6" md="6" class="pl-2 pr-2">
              <v-row>
                <v-col cols="12" sm="12" md="12">
                  <v-banner single-line class="pb-4">
                    Изображения
                  </v-banner>

                  <div v-if="totals">
                    Изображений: {{totals.managed}} обработано, {{ totals.rejected }} отклонено, {{totals.total}} всего загружено<br>
                    Категория транспорт: {{totals.transport}}<br>
                    Категория груз: {{totals.cargo}} <br>
                  </div>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                  <v-btn small color="primary" to="/images-moderate" large>
                    <v-icon left>mdi-eye</v-icon>
                    Начать Модерацию
                  </v-btn>

                </v-col>
                <v-col cols="12" sm="6" md="6">
                  <new-image v-if="user.role == 'admin'">
                    <v-btn bottom color="success" large>
                      <v-icon left>mdi-cloud-upload</v-icon>
                      Загрузка фото
                    </v-btn>
                  </new-image>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12" sm="6" md="6" class="pl-2 pr-2">
              <v-row>
                <v-col>
                  <v-banner single-line class="pb-4">
                    Пользователи
                  </v-banner>

                  <span v-if="!localLoading && usersSearched.length === 0">Результатов нет</span>
                  <span v-if="localLoading">Загрузка, пожалуйста ждите....</span>

                  <v-simple-table v-if="usersSearched.length !== 0" dense>
                    <thead>
                      <tr>
                        <th class="text-left">ID</th>
                        <th class="text-left">Имя</th>
                        <th class="text-left">Роль</th>
                        <th class="text-left">Email</th>
                        <th class="text-left">Статистика</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="user of usersSearched" :key="user.id">
                        <td>{{ user.id }}</td>
                        <td>
                          <span class="user-link">{{ user.name }}</span>
                        </td>
                        <td>
                          <span class="user-link">{{ user.role }}</span>
                        </td>
                        <td>
                          {{ user.email }}
                        </td>
                        <th class="text-left">{{user.managed_last_day}} / {{user.managed_count}}</th>
                      </tr>
                    </tbody>
                  </v-simple-table>
                  <v-row>
                    <v-col>
                      <v-pagination
                        :value="page"
                        :length="total_pages"
                        :total-visible="15"
                        @input="onChangePage"
                      ></v-pagination>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-container>

  </v-main>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import NewImage from "../Images/NewImage";

export default {
  name: 'Dashboard',
  components: {
    "new-image": NewImage,
  },
  data: () => ({
    localLoading: false,
  }),
  computed: {
    ...mapGetters("user", {
      user: "user",
      user_list: "users",
      page: "page",
      total_pages: "total_pages",
    }),
    ...mapGetters("dashboard", {
      totals: "dashboard_data",
    }),
    usersSearched() {
      let result = this.user_list;

      return result;
    },
  },
  mounted() {
    this.localLoading = true;
    Promise.all([
      this.fetchUsers(),
      this.fetchDashboard()
    ]).then(() => {
      this.localLoading = false;
    });
  },
  methods: {
    ...mapActions("user", ["fetchUsers", "setPage"]),
    ...mapActions("dashboard", ["fetchDashboard"]),
    onChangePage(page) {
      this.setPage(page);

      // refresh
      this.localLoading = true;
      this.fetchUsers().then(() => {
        this.localLoading = false;
      });
    },
  }
}
</script>
