<template>
  <v-dialog v-model="dialog" width="800px">
    <template v-slot:activator="{ on }">
      <span v-on="on">
        <slot></slot>
      </span>
    </template>
    <v-card>
      <form @submit.prevent="submit">
        <v-card-title class="teal lighten-1">
          Добавить Tag
          <v-spacer></v-spacer>
          <div class="pointer" @click="dialog = false">
            <v-icon left>mdi-close</v-icon>
          </div>
        </v-card-title>
        <v-container>
          <v-row class="mx-2" dense>
            <v-col cols="12" sm="12" md="12">
              <v-text-field
                clear-icon="mdi-close"
                clearable
                outlined
                dense
                label="Наименование*"
                hint="enter tag name"
                required
                v-model="name"
                :error-messages="nameErrors"
                @input="$v.name.$touch()"
                @blur="$v.name.$touch()"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-btn class="mr-4" text :loading="localLoading" @click="clear">
            <v-icon left>mdi-rotate-left</v-icon>Очистить
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn color="secondary" :loading="localLoading" @click="dialog = false">Отмена</v-btn>
          <v-btn color="success" :loading="localLoading" @click="submit()">Добавить</v-btn>
        </v-card-actions>
      </form>
    </v-card>
  </v-dialog>
</template>

<script>
import { validationMixin } from "vuelidate";
import { mapActions } from "vuex";
import {
  required,
  maxLength,
} from "vuelidate/lib/validators";
import * as _ from "lodash";

export default {
  name: "NewTag",
  mixins: [validationMixin],
  validations: {
    name: { required, maxLength: maxLength(255) },
  },
  data: () => ({
    dialog: false,
    localLoading: false,
    isSubmited: false,
    name: void 0,
    response_errors: [],
  }),
  created() {
    this.clear();
  },

  computed: {
    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) {
        return errors;
      }
      !this.$v.name.maxLength && errors.push('Name must be at most 255 characters long');
      !this.$v.name.required && errors.push("Name is required.");
      return errors;
    },
  },

  methods: {
    ...mapActions("tag", ["createNewTag"]),
    submit() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        const newTag = {
          name: this.name,
        };

        this.localLoading = true;
        this.createNewTag(newTag)
          .then(() => {
            this.dialog = false;
            this.clear();
            this.$emit("updated", "");
          })
          .catch((error) => {
            this.response_errors = _.get(error, 'response.data.errors', []);
          })
          .finally(() => {
            this.localLoading = false;
          });
      }
    },
    clear() {
      this.$v.$reset();

      this.name = void 0;

      this.response_errors = [];
    },
  },
};
</script>

<style>
</style>
