<template>
  <v-main>
    <v-container class="log-in-container">
      <v-flex>
        <v-row>
          <h1 class="page-title">Вход</h1>
        </v-row>
      </v-flex>

      <v-card>
        <v-container>
          <v-form ref="form" v-model="valid" validation>
            <v-layout row>
              <v-flex xs12>
                <v-card-text>
                  <v-text-field
                    clear-icon="mdi-close"
                    clearable
                    outlined
                    name="login"
                    label="Логин"
                    type="login"
                    v-model="login"
                    :rules="loginRules"
                  ></v-text-field>
                  <v-text-field
                    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="showPassword ? 'text' : 'password'"
                    @click:append="showPassword = !showPassword"
                    clear-icon="mdi-close"
                    clearable
                    outlined
                    name="password"
                    label="Пароль"
                    v-model="password"
                    :rules="passwordRules"
                  ></v-text-field>
                </v-card-text>
              </v-flex>
            </v-layout>
            <v-layout row>
              <v-flex xs12>
                <v-card-actions>
                  <v-btn class="mr-4" text :loading="localLoading" @click="onCancel" :disabled="localLoading">
                    <v-icon left>mdi-rotate-left</v-icon>Сбросить
                  </v-btn>
                  <v-spacer></v-spacer>
                  <v-btn
                    depressed
                    class="primary"
                    @click="onSubmit"
                    :loading="localLoading"
                    :disabled="!valid || localLoading"
                  >
                    <v-icon left>mdi-check</v-icon>
                    Войти
                  </v-btn>
                </v-card-actions>
              </v-flex>
            </v-layout>
          </v-form>
        </v-container>
      </v-card>
    </v-container>
  </v-main>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "LogIn",
  mounted: function () {
    // if (localStorage.getItem("user")) { // user logged in
    //   this.$router.push('/dashboard');
    // }
  },
  data() {
    return {
      user: "",
      showPassword: false,
      login: "",
      password: "",
      valid: false,
      localLoading: false,
      messages: {
        incorrect_login: "Не верный логин или пароль - попробуйте ещё раз.",
      },
      loginRules: [(v) => !!v || "Пожалуйста введите ваш логин"],
      passwordRules: [
        (v) => !!v || 'Пожалуйста введите пароль',
        // v => (v && v.length >= 6) || 'Password should be at least six symbols long'
      ],
    };
  },

  methods: {
    ...mapActions("app", ["setError"]),
    ...mapActions("user", ["logIn"]),
    onCancel() {
      this.login = "";
      this.password = "";
    },
    onSubmit() {
      if (this.$refs.form.validate()) {
        this.localLoading = true;
        const user = {
          login: this.login,
          password: this.password,
        };

        this.logIn(user)
          .then(() => {
            this.$router.push({
              path: this.$route.query.redirect || "/dashboard",
            });
          })
          .catch((error) => {
            let errors = 'Unknow error';

            if (
              error.response &&
              error.response.status &&
              error.response.status === 401
            ) {
              errors = this.messages.incorrect_login;
            }

            this.setError(errors);
          })
          .finally(() => {
            this.localLoading = false;
          });
      }
    },
  },
};
</script>

<style scoped>
.log-in-container {
  max-width: 800px;
}
</style>